.register__content {
    background-color: #f5efea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    box-sizing: border-box;
}

.register__heading h2 {
    font-family: 'Rokkitt', serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #8b7969;
    font-size: 32px;
    margin-bottom: 60px;
}

.register-form__container {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    padding: 50px 80px;
    border-radius: 10px;
    border: 1px solid #cbb49f;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #8b7969;
    font-size: 1.1rem;
}

.register-form input {
    width: 100%;
    padding: 12px 15px;
    background-color: #f7f7f7;
    border: none;
    box-sizing: border-box;
    color: #8b7969;
    font-size: 1rem;
}

input::placeholder {
    font-family: 'Playfair Display','Rokkitt',sans-serif;
    font-size: 0.8rem;
    color: #cbb49f;
    opacity: 1;
}

.form-button {
    text-align: center;
    margin-top: 40px;
}

.register-form button {
    background-color: #8b7969;
    color: #fff;
    border: none;
    padding: 10px 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.3s;
}

.register-form button:hover {
    opacity: 0.8;
}

.form__error {
    color: #ee7575;
    font-size: 0.8rem;
    margin-top: 5px;
}